/******CSS RESET*******/
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
margin: 0;
}
/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
*/
body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
}
/*
5. Improve media defaults
*/
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
/*
6. Remove built-in form typography styles
*/
input, button, textarea, select {
font: inherit;
}
/*
7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
/*
8. Create a root stacking context
*/
#root, #__next {
isolation: isolate;
}

/***************MY STYLING****************/
body {
    background-color: hsl(234, 29%, 20%);
    font-family: 'Cuprum', sans-serif;
    height: 100vh;
    color: hsl(234, 29%, 20%);
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-div {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 1px 1px 15px 5px hsl(234, 29%, 25%);
    max-width: 400px;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-div > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

img {
    align-self: flex-start;
}

h1 {
    font-size: 32px;
}

span {
    font-weight: 700;
}

button {
    padding: 10px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(90deg, hsl(234, 29%, 20%), hsl(234, 29%, 40%), hsl(234, 29%, 60%));
}

@media screen and (max-width: 430px) {
    body {
        background-color: hsl(0, 0%, 100%);
    }

    #main-div {
        height: 100vh;
        border-radius: 0;
    }

    #main-div > div {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 360px) {
    #main-div {
        padding-left: 30px;
        padding-right: 30px;
    }
}